# Assignment

 Ans1-A database is a structure collection of data that is organised and stored in a way that allows for efficient retrival,management and 
 manupulation of information.
 -sql and non-sql difference
 1-sql
 ->sql is a structured query language
 ->It stored data in tabular format
 ->It provide fix schema
 ->It provides horizantal and vertical scaling
 ->sql is follow acid rules
 2-Non sql 
 ->non sql is a non structured query language
 ->It store data in non tabular format
 ->It provide flexible schema
 ->It only provide horizantal scaling
 ->It follow CAP therom

Ans2-
DDL mean data definition language is a subset of the sql.used for defining and managing the structure of a relation database.
including the creation, deletion and modification of database object such as table,index and constrains.
1-Create: Used to create database objects like tables, views, indexes, etc.
Example:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Salary DECIMAL(10,2)
);
2-Drop:used to delete database objects like tables, views, indexes, etc.
Example:
DROP TABLE Employees;
3-Alter: Used to modify the structure of an existing database object, such as adding or dropping columns.
Example:
ALTER TABLE Employees
ADD COLUMN Birthdate DATE;
4-Truncate:Used to quickly delete all rows from a table without removing the table structure.
Example:RUNCATE TABLE Employees;

Ans3-DML-is a data manupulation language and subset of sql.Used for manipulating data store in a database.
1-insert-Used to add new rows of data into a table.
Example:
INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary)
VALUES (1, 'John', 'Doe', 50000);
2-Update-Used to modify existing data in a table.
Example:
UPDATE Employees
SET Salary = 55000
WHERE EmployeeID = 1;
3-Delete-Used to remove one or more rows from a table.
Example:
DELETE FROM Employees
WHERE EmployeeID = 1;

Ans4-
DQL-is a data query language and is a subset of sql,used for querying and retrieving data from a database.
Select:Used to retrieve data from one or more tables in a database.
Example:SELECT FirstName, LastName, Salary
FROM Employees
WHERE Salary > 50000;

Ans5-
1-Primary Key is a unique identifier for a records in a database table,ensuring each row can be uniquely identified and preventing duplicate entries.
2-Foreign Key a foreign key is a field in a database table that refers to the primary key in another table, establishing a link between the two tables and enforcing referential integrity in relational databases.

Ans6-pip install mysql-connector-python
import mysql.connector

Establishing a connection to MySQL
conn = mysql.connector.connect(
    host="your_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

Creating a cursor
cursor = conn.cursor()

 Example SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)

 Fetching and printing the results
result = cursor.fetchall()
for row in result:
    print(row)

Closing the cursor and connection
cursor.close()
conn.close()
1-Cursor: A cursor is an object that allows Python to interact with the MySQL database. It is used to execute SQL queries and fetch results.
-cursor.execute(query): Executes the SQL query specified in the query variable.

-cursor.fetchall(): Fetches all the rows of the result set after executing the query.
-cursor.close() and conn.close()-closing the cursor and connection

Ans7-
The order of execution of SQL clauses in a SQL query generally follows this sequence:

1-FROM: Specifies the table or tables from which data will be retrieved.

2-WHERE: Filters the rows based on specified conditions.

3-GROUP BY: Groups the result set by one or more columns.

4-HAVING: Filters the grouped rows based on specified conditions.

5-SELECT: Specifies the columns to be retrieved.

6-DISTINCT: Removes duplicate rows from the result set.

7-ORDER BY: Sorts the result set based on specified columns.

LIMIT/OFFSET or FETCH FIRST: Limits the number of rows returned by the query.